@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
  font-size: large;
}


.hero {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0;
}

.logo {
  font-size: 28px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

nav ul li a:hover {
  color: purple;
  transition: .3s;
}

.container-busca .input {
  border: 0;
  outline: none;
}

.search_wrap {
  width: 200px;
  margin: 38px auto;
}

.search_wrap .search_box {
  position: relative;
  width: 300px;
  height: 30px;
  background-color: purple;

}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: purple;
  z-index: 1;
  cursor: pointer;
}

.search_wrap .search_box .btn:hover {
  background: rgb(201, 132, 201);
}

.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn {
  right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.icons-conta{
  background: purple;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.icons-conta .icons{
  background: #fff;
  border: 1rem solid purple;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 8rem;
}

.icons-conta .icons img{
  height: 4rem;
  margin-right: 2rem;
}

.icons-conta .icons h3{
  color: purple;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.icons-conta .icons span{
  color: #999;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}


.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 16px 5px;
  background: #fff;
  border-radius: 4px;
}

.cardHeader {
  padding: 16px;
  border-bottom: 1px solid rgb(201, 132, 201);
  align-items: center;
}

.imageProduct {
  width: 180px;
  height: 220px;
}


.cardContent {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 200px;
}

.product-card:hover {
  box-shadow: 0 4px 30px rgb(201, 132, 201);
}

.product-card {
  max-width: 200px;
  cursor: pointer;
}


.linha {
  width: 30%;
  padding-left: 10%;
  padding-top: 25px;
}

.Comprar {
  padding: 10px 30px;
  margin: auto 10px 10px 10px;
  display: block;
  text-decoration: none;
  background: purple;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: 0.5s;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.cardproduct-card:hover .cardContent .buy {
  top: 0px;
  opacity: 1;

}

footer {
  margin-top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.511);

}

div.social-media-links {
  overflow: hidden;
  padding-bottom: 4px;
  text-align: center;
}

.footer {
  margin: 0;
  padding: 0;
  background-color: purple;
  height: 80px;
}

.footerli {
  display: inline;
  margin: 0;
  padding: 15px;
}

.footera {
  border-bottom: 0px solid rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0), ;
  display: inline-block;
  height: 30px;
  padding: 20px;
  position: relative;
  transition: .2s ease-in;
  width: 30px;
}

.footera:hover {
  transform: translateY(-4px);
}

.oqanimal-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;

}

.oqanimalInfo {
  display: flex;
  align-items: center;

}

.oqanimalText {
  margin-left: 20px;

}

.oqanimalInfo:hover {
  transform: translateY(-4px);
}

.cardanimal {
  margin: 16px 5px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.oqanimal a {
  text-decoration: none;
  display: flex;
  color: #343a40;
}